<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark" style="text-align: center;">
      <!-- <div>    
        <a href="#" class="navbar-brand">GymPro</a>
      </div><br> -->
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/gymdetails" class="nav-link">Gym details </a>
        </li>
        <li class="nav-item">
          <a routerLink="/trainers" class="nav-link">Trainers</a>
        </li>
        <li>
          <a routerLink="/gymequipments" class="nav-link">Gym Equipment</a>
        </li>
      </div>
    </nav>
  
    <div class="container mt-3">
      <router-outlet></router-outlet>
    </div>
  </div>
